@media (max-width: 1200px)
	.nav-menu
		&__item
			padding-right: 20px
		&__link
			font-size: 13px

	.promo
		&__title
			font-size: 50px

	.mobile
		&__item
			width: 290px

	.choice
		padding: 55px 0

	.footer
		&__wrapper > div
			width: 50%
			&:nth-child(1)
				width: 25%
			&:nth-child(3)
				width: 25%
				display: flex
				justify-content: flex-end
		&-mobile
			display: flex
			&__item
				margin: 0 3px
				img
					width: 100%
